@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&family=Roboto:wght@100&family=Sen&display=swap');


*{
    box-sizing: border-box;
}

body{
    margin: 0;
    min-height: 100vh;
    font-family: 'Sen', sans-serif;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #c9ced3;
}

.container{
   width: 480px;
   height: 720px; 
   background: #fff;
   display: flex;
   flex-direction: column;
   align-items: center;
   border-radius: 10px;
   box-shadow: 0 5px 30px 10px rgba(0,0,0,0.4);

}

.form{
    width: 90%; 
 
}

.form-control{
    margin-bottom: 0.6rem;
    padding-bottom: 1.25rem;
    position: relative;
}

.form-control label{
    color: #777;
    display: block;
    margin-bottom: 0.3rem;
}

.form-control input{
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    width: 100%;
    padding: 0.6rem;
    font-size: 0.9rem;
}

.form-control input:focus{
    outline: 0;
}
.form-control.success input{
    border-color: #2ecc71;
}

.form-control.error input{
    border-color: #e74c3c;
}

.form-control small{
    color: #e74c3c;
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}

.form-control.error small{
    visibility: visible;
}

.form-control input::placeholder{
    color: grey;
}

.form button{
    cursor: pointer;
    color: #fff;
    background-color: black;
    border: none;
    border-radius: 5px;
    padding: 0.6rem;
    width: 100%;
    font-size: 1.5rem;
    font-family: sen,sans-serif;
    letter-spacing: 2px;
    margin-top: 1.2rem;
}

.form button:hover{
    filter: contrast(200%);
    background-color: rgb(22,22,22);
}
.form button:focus{
    outline: none;
}


.users{
    margin-top: 8rem;
   
}

.user-div{
    position: relative;
}

.users .user-div button{
   position: absolute;
   right: 2rem;
   top: 0;
   color: red;
   border-radius: 5px;
}